/* 데일리 묵상,밴드 버튼 */
.wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -86px;
    margin-left: -89px;
    text-align: center;
  }
  
a {
    -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    display: block;
    margin: 20px auto;
    width: 200px;
    max-width: 180px;
    text-decoration: none;
    border-radius: 4px;
    padding: 20px 30px;
  }
  
  a.click1 {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    position: absolute;
    left: 500px;
    top: 320px;
    color: rgba(255, 255, 255, 0.85);
    box-shadow: #b28e68 0 0px 0px 2px inset;
  }
  
  a.click1:hover {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.85);
    box-shadow: #b28e68 0 0px 0px 40px inset;
  }
  
    
    a.click2 {
      font-family: 'Noto Sans KR', sans-serif;
      font-weight: 500;
      position: relative;
      left: 500px;
      top: 320px;
      color: rgba(0, 0, 0, 0.85);
      box-shadow: #23c531 0 0px 0px 2px inset;
    }
    
    a.click2:hover {
      font-family: 'Noto Sans KR', sans-serif;
      font-weight: 500;
      color: rgba(255, 255, 255, 0.85);
      box-shadow: #23c531 0 0px 0px 40px inset;
    }
    